*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}

body{
    font-size: sans-serif;
    margin: 0 auto;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{ list-style: none;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: rgb(202, 198, 198);
    background-color: #2e8711;
}

button:hover{
    background-color: #103a20;
}


.container{
    max-width: 1400px;
    margin: auto;
}

a{
    text-decoration: none;
    color: aliceblue;
}
header{
    display: flex;
    height: 70px;
    background-color: rgb(18, 71, 18);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu {
    position: absolute;
    top: 0;
    left: o;
    right: 0;
    display: flex;
    align-items: center;

}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
}

.logo img{
    height: 50px;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #e2ede3;
    display: block;
    font-weight: 600;
} 

.menu .navbar ul li a:hover{
    color: #1e6f3d;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none; 
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #e2e6e3;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 16px;
    color: #c5c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;
}

#hero{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(images/bg1.jpg);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 70vh;
        display: flex;
        align-items: center; ;
}

.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    color: #e2e6e3;
    text-transform: uppercase;
    margin-bottom: 35px;
}

#acade{
    background-color: #e1e2e6;
}

#acade .container{
    text-align: center;
    padding: 150px 12px;

}

#nuestros {
    background-color: rgba(41, 130, 61, 0.5);
    color: white;
    text-align: center;
}

#nuestros .container{
    padding: 150px 12px;
}

#nuestros h2{
    margin-top: 0;
    font-size: 3.2em;

}

#nuestros p{
    display: block;
    color: white;

}

#nuestros .carta{
    background-position: center bottom;
    background-size: cover;
    padding: 60px 50px;
    margin: 30px;
    border-radius: 15px;

}

.carta:first-child{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(images/secretaria.jpg);
}

.carta:nth-child(2){
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(images/secretaria.jpg);
}

.carta:nth-child(3){
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(images/secretaria.jpg);
}

.general {
    display: flex;
}

.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e1e2e6;
}

.general-2 {
    background-image: url(images/tecno.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%; 
}
.general-3 {
    background-image: url(images/fisc.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%; 
}

h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}

.footer {
    padding: 50px 0;
    background-color: #000000;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 18px;
    margin-bottom: 15px;
}


.link img {
    width: 60px;
    border-radius: 15px;
    margin-bottom: 15px;
}

@media(max-width:991px) {

    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;
    }

    .header-content p {
        padding: 0;
    }

    #acade .container{
        text-align: center;
        padding: 200px 12px;
    }
    
    #nuestros {
        background-color: rgba(41, 130, 61, 0.5);
        color: white;
        text-align: center;
    }
    
    #nuestros .container{
        padding: 150px 12px;
    }
    
    #nuestros h2{
        margin-top: 0;
        font-size: 3.2em;
    
    }
    
    #nuestros p{
        display: none;
    
    }
    
    #nuestros .carta{
        background-position: center bottom;
        background-size: cover;
        padding: 60px 0px;
        margin: 30px;
        border-radius: 15px;
    
    }
    
    .carta:first-child{
        background-image: linear-gradient(
            rgba(0,0,0,0.7),
            rgba(0,0,0,0.7)),
            url(images/secretaria.jpg);
    }
    
    .carta:nth-child(2){
        background-image: linear-gradient(
            rgba(0,0,0,0.7),
            rgba(0,0,0,0.7)),
            url(images/secretaria.jpg);
    }
    
    .carta:nth-child(3){
        background-image: linear-gradient(
            rgba(0,0,0,0.7),
            rgba(0,0,0,0.7)),
            url(images/secretaria.jpg);
    }

    .general {
        flex-direction: column;
    }

    .general-1 {
        width: 100%;
        padding: 100px;
        text-align: center;
    }

    .general-2, .general-3 {
        display: none;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        text-align: center;
    }
    
}    